<div id='bg_2' class="container-fluid bg-1 text-center">
  <h2 class="heading1">Tau Pet Directory</h2>
  <img src="http://devjana.net/support/tau/george.jpg" class="img-responsive img-circle margin" style="display:inline" alt="pic of George the cat" width="350" height="350">
  <h3 class="heading2">prepare for cuteness overload</h3>
</div>

<div id="bg_3">
  <p id="mainDescription">
    This is a gallery of Tau pets. <br>Navigate to 'view all pets' to have a look. <br>Don't see your pet? Navigate to 'add new pet' to introduce us to your furry friend. <br>Enjoy!
  </p>
</div>
